@import "./index.css";

body {
  min-height: 100vh;
  position: relative;
}

header nav ul li:nth-child(3) {
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
}

.login {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.login h2 {
  margin-bottom: 37px;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

form label,
.forgetPassword {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  margin-bottom: 7px;
}

#email,
#password {
  width: 100%;
  max-width: 379px;
  height: 51px;
  box-shadow: 0px 4px 14px 0px #00000017;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  padding-left: 17px;
}

#email {
  margin-bottom: 52px;
}

#password {
  margin-bottom: 37px;
}

.btn {
  min-height: auto;
}

.forgetPassword {
  text-decoration-line: underline;
}

.modalMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.modalMessageContent {
  font-family: "Work Sans";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  min-width: 200px;
  min-height: 200px;
  border-radius: 10px;
}
